# Global
**/.vscode

# Exercism
**/.exercism/

# Python Track
python/.venv/
python/**/__pycache__/
python/**/.pytest_cache/

# JavaScript Track
javascript/package-lock.json
javascript/package.json
javascript/**/.eslintrc
javascript/**/.npmrc
javascript/**/babel.config.js
javascript/**/package-lock.json
javascript/**/package.json
javascript/**/node_modules/

# Java Track
java/**/.gradle/
java/**/.exercism/
java/**/build/
java/**/bin/
